fastai # Includes torch, but else install torch, torchvision, torchaudio with cuda build through a manual command
numpy
pandas
ipywidgets
nbdev
gradio
duckduckgo-search==7.3.1
timm

# HF General
datasets[audio,vision]
transformers
diffusers
accelerate
evaluate
huggingface_hub[fastai,cli,torch]
safetensors
bitsandbytes
timm
tokenizers
peft

# Embeddings
sentence-transformers
faiss-cpu

# Tests
gymnasium # For RL simulations
