# torch
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision 
torchaudio

fastai # Includes torch, but else install torch, torchvision, torchaudio with cuda build through a manual command
numpy
pandas
duckduckgo-search==7.3.1

# UI
nbdev
ipywidgets
gradio
PySide6

# HF General
datasets[audio,vision]
transformers
diffusers
accelerate
evaluate
huggingface_hub[fastai,cli,torch]
safetensors
bitsandbytes
timm
tokenizers
peft

# Embeddings
sentence-transformers
faiss-cpu

# Tests
gymnasium # For RL simulations
